<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiandanlangman.ageh">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application>
        <service
            android:name=".AGEHDaemonService"
            android:process=":agehDaemonService" />
    </application>
</manifest>
